* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    display: flex;
    transition: 0.5s;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    position: fixed;
    top: 20%;
    float: left;
    width: 70px;
    height: 350px;
    background-color: transparent;
    border-radius: 35px;
    margin-left: 25px;
    z-index: 100;
}

.nav-bar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-bar ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.nav-bar ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #797B84;
    font-weight: 500;
}

.nav-bar ul li a .icone {
    position: relative;
    display: block;
    line-height: 75px;
    text-align: center;
    transition: 0.5s;
}

.nav-bar ul li a .icone i {
    font-size: 24px;
}

.nav-bar ul li a .label {
    position: absolute;
    top: 50%;
    left: 110px;
    background: #fff;
    transform: translateY(-50%);
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
}

.nav-bar ul li:hover a .label {
    opacity: 1;
    visibility: visible;
    transform: translateX(-25px) translateY(-50%);
}

.nav-bar ul li a .label::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    left: -9px;
    top: 46%;
    transform: rotate(45deg) translateY(-50%);
    border-radius: 2px;
}

.nav-bar ul .indicador {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

.nav-bar ul .indicador::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #333;
    border-radius: 50%;
    transition: 0.5s;
}

.nav-bar ul li.ativo a .icone {
    color: #fff;
}

.nav-bar ul li:nth-child(1).ativo ~ .indicador {
    transform: translateY(calc(70px * 0));
}

.nav-bar ul li:nth-child(2).ativo ~ .indicador {
    transform: translateY(calc(70px * 1));
}

.nav-bar ul li:nth-child(3).ativo ~ .indicador {
    transform: translateY(calc(70px * 2));
}

.nav-bar ul li:nth-child(4).ativo ~ .indicador {
    transform: translateY(calc(70px * 3));
}

.nav-bar ul li:nth-child(5).ativo ~ .indicador {
    transform: translateY(calc(70px * 4));
}

.nav-bar ul li:nth-child(1).ativo ~ .indicador::before {
    background: #f53b57;
}

.nav-bar ul li:nth-child(2).ativo ~ .indicador::before {
    background: #f53b57;
}

.nav-bar ul li:nth-child(3).ativo ~ .indicador::before {
    background: #f53b57;
}

.nav-bar ul li:nth-child(4).ativo ~ .indicador::before {
    background: #f53b57;
}

.nav-bar ul li:nth-child(5).ativo ~ .indicador::before {
    background: #f53b57;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

#main-page {
    background-color: #EDD2E0;
    display: flex;
    width: 100vw;
    height: 650px;
}

#hero-foto {
    position: absolute;
    left: 30%;
    top: 51%;
    background-color: #333;
    width: 300px;
    height: 300px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-image: url(./images/perfil.jpg);
    background-size: cover;

}

#conteudo {
    position: absolute;
    top: 50%;
    left: 55%;
    font-size: 2em;
    color: #648FAF;
    transform: translateY(-50%);
}

#conteudo h1 {
    margin: 35px 0px 10px;
    font-size:2.7em;
    color: #15C6A6;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#conteudo>span {
    font-size: 0.7em;
    letter-spacing: 2px;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


#conteudo .subtitulo {
    font-size: 0.8em;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.full {
    color: #f34336;
}

.social {
    position: absolute;
    /* background-color: #ffa801; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    left: 20%;
    width: 250px;
}

a > i {
    color: #797B84;
}

.botao-curriculo {
    width: 85px;
    height: 31px;
    border-radius: 18px;
    border: none;
    background-color: #648FAF;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.botao-curriculo a {
    color: #333;
}

button:focus {
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

#about-me {
    display: flex;
    flex-direction: column;
    background-color: #333;
    width: 100vw;
    height: 650px;
    padding: 75px 0px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#about-me img {
    height: auto;
    width: 450px;
    opacity: 0.7;
    border: solid 2px #333;
    border-radius: 6%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.texto-sobre {
    width: 550px;
}

.texto-sobre h2 {
   color: #fff;
   font-size: 4.2em;
   text-transform: capitalize;
   margin-bottom: 20px;
}

.texto-sobre h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-bottom: 25px;
    text-transform: capitalize;
 }

 .texto-sobre p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 0.9em;
    margin-bottom: 45px;
 }